/* itemListContainer.css */
.card-custom {
  /* background-color: #eea300 !important; Fondo específico para este componente */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-custom .card-title {
  color: #333333;
  font-size: 2rem;
  text-align: center;
}
