/* itemListContainer.css */

.card-custom {
  /* background-color: #eea300 !important; Fondo específico para este componente */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  
}

.card-custom .card-title {
  color: #333333;
  font-size: 2rem;
  text-align: center;
  font-family: "Arsenal SC", sans-serif;
  font-weight: 500;
  font-style: normal; 
  text-decoration: none;
  
}
.fw-black{
  font-family: "Arsenal SC", sans-serif;
}
.card-title{
  background-color: #050C9C;
  color:aliceblue;
  text-decoration: none;
}
.card-text{
  /* background-color: #050C9C; */
  color:aliceblue;
  /* text-decoration: none; */
  
}