.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  font-family: "Arsenal SC", sans-serif;
  font-size: 19px;
  outline: none;
  font-weight: 500;
  background-color: #201E43;
}
.cartWidget{
  background-color: transparent !important;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 20px;
  font-style: italic;
  color: #050C9C;
}
.logo-img {
  border-radius: 15px;
  margin-right: 50px;
  width: 200px;
  
}
.ul-cart {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  
  width: 150px;
  border-radius: 5px;
  color: aliceblue;
  background-color: #0D6EFD;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.ul-cart:hover{
  background-color: #050C9C;
}
.card-body{
  align-items: center;
}
.carrito {
  align-items: center;
  justify-content: center;
  padding:50px
}
.text {
  font-size: 20px;
  color: aliceblue;
}
.li-cart {
  /* width: 100%; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  /* padding: 10px; */

  color: aliceblue;
}



/* NavBar.css */


.logo-img {
  border-radius: 15px;
  width: 200px;
  height: auto; /* Asegúrate de que la imagen mantenga su proporción */
}

.cartWidget {
  background-color: transparent !important;
}

ul.categories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Ajusta el espacio entre las categorías */
  scale: 0.80;
}

li.category {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 5px; */
  color: aliceblue;
  /* background-color: #050C9C; */
  /* padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-decoration: none;
}

.linkcategory{
    color: aliceblue;
    text-decoration: none;
     display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
  color: aliceblue;
  background-color: #050C9C;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.category p {
  margin: 0;
  padding: 10px;
}

.img-category {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.img-category svg {
  width: 40px;
  height: 40px;
  color: aliceblue;
}

.linkcategory:hover{
  background-color: #0D6EFD;
}